.page {
    display: inline;

    a {
        cursor: pointer;
    }
}

.activePage {
    display: inline;
    background-color: #00b5ad !important;

    a {
        color: white !important;
        font-weight: bold;
    }
}

.paginateLeft {
    padding-inline-start: 0px;
    display: inline;
    vertical-align: middle;
}

.unactivePage {
    a {
        color: darkslategrey;
    }
}
